<app-login *ngIf="!user"></app-login>

<ng-template [ngIf]="user">
  <app-navbar [user]="user"></app-navbar>
  <main role="main">

    <!-- @TODO -->
    <!-- <div class="btn-group">
      <button type="button" class="btn btn-block" [class.btn-primary]="display === 'items'" [class.btn-outline-primary]="display !== 'items'" (click)="display = 'items'">Liste des items</button>
      <button type="button" class="btn btn-block" [class.btn-info]="display === 'config'" [class.btn-outline-info]="display !== 'config'" (click)="display = 'config'">Configuration</button>
    </div> -->

    <div class="jumbotron">
      <div class="container">
        <div class="mb-2 col-md-12 btn-toggle">
          <button type="button" class="btn btn-outline-primary btn-block" (click)="toggleForm()">{{ showForm ? 'Lancer un scrap' : 'Ajouter une url' }}</button>
        </div>

        <form class="row" (submit)="onSubmitScrap()" *ngIf="!showForm">
          <div class="mb-2 col-md-4">
            {{ selectedUrl?.provider ? ('Provider : ' + selectedUrl.provider) : '' }}
          </div>
          <div class="form-group mb-2 col-md-4">
            <select class="form-control" [(ngModel)]="selectedUrl" name="url" [compareWith]="compareSelectedUrl">
              <option value="" disabled>Selectionnez une url</option>
              <option *ngFor="let site of sites; trackBy: trackBySite" [ngValue]="site">{{ site.label }}</option>
            </select>
          </div>
          <div class="mb-2 col-md-4">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!selectedUrl?.url || isScrapping">SCRAPPER</button>
          </div>
        </form>

        <form class="row" (submit)="onSubmitSite()" *ngIf="showForm">
          <div class="form-group mb-2 col-md-3">
            <select class="form-control" [(ngModel)]="formSite.provider" name="provider">
              <option value="">Sélectionnez un provider</option>
              <option *ngFor="let provider of providers" [value]="provider.value">{{ provider.label }}</option>
            </select>
          </div>
          <div class="form-group mb-2 col-md-3">
            <input class="form-control" [(ngModel)]="formSite.label" name="label" placeholder="label">
          </div>
          <div class="form-group mb-2 col-md-3">
            <input class="form-control" [(ngModel)]="formSite.url" name="url" placeholder="url">
          </div>
          <div class="mb-2 col-md-3">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!formSite.provider || !formSite.label || !formSite.url">ENREGISTRER</button>
          </div>
        </form>
      </div>
    </div>

    <div class="container">
      <div class="btn-group">
        <button type="button" class="btn {{ currentStatus === status.value ? status.btnActive : status.btnOutline }}" *ngFor="let status of statuses" (click)="filterByStatus(status)">{{ status.label }}</button>
      </div>
      <div class="row">
        <div class="form-group mb-2 col-md-4 offset-md-4">
          <select class="form-control" [(ngModel)]="filterProvider">
            <option value="">Sélectionnez un provider</option>
            <option *ngFor="let provider of providers" [value]="provider.value">{{ provider.label }}</option>
          </select>
        </div>
      </div>

      <div class="card-deck" [hidden]="!hasItems">
        <deck-stack #stack [options]="deckOptions">
          <li class="stack__item" *ngFor="let item of (items | async)">
            <div class="card" [item-scrapped]="item" (accept)="accept()" (reject)="reject()" *ngIf="filterProvider ? item.payload.doc.data().provider === filterProvider : true"></div>
          </li>
        </deck-stack>
        <span deckTouchAnimation class="arrow-right" (click)="next()">
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
        </span>
      </div>
      <div *ngIf="!hasItems && !fetching">
        Liste vide
      </div>
    </div>
  </main>
</ng-template>
