<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>

<div *ngIf="afAuth.authState | async as user; else showLogin">
  <!--The content below is only a placeholder and can be replaced.-->
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>

  <form (submit)="onSubmit()">
    <select [(ngModel)]="form.provider" name="provider">
      <option value="youtube" selected>Youtube</option>
      <option value="mamytwink" selected>MamyTwink</option>
    </select>
    <input [(ngModel)]="form.url" name="url" placeholder="url">
    <button type="submit">GET</button>
  </form>

  <h3>Items</h3>
  <button (click)="filterByStatus(status)" *ngFor="let status of statuses">{{ status.label }}</button>
  <ul>
    <li *ngFor="let item of items | async">
      <item [item]="item.payload.doc.data()"></item>
      <a (click)="remove(item)">Remove</a>
      <a (click)="select(item)">Select</a>
    </li>
  </ul>

</div>
