<ng-template #showLogin>
  <form class="form-signin">
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()">Sign in with Google</button>
  </form>
</ng-template>

<main role="main" *ngIf="afAuth.authState | async as user; else showLogin">
  <div class="jumbotron">
    <div class="container">
      <h1>Hello {{ user.displayName }}!</h1>
      <button (click)="logout()">Logout</button>

      <form (submit)="onSubmitScrap()">
        <select [(ngModel)]="form.provider" name="provider">
          <option value="youtube">Youtube</option>
          <option value="mamytwink">MamyTwink</option>
        </select>
        <select [(ngModel)]="form.url" name="url">
          <option value="" disabled>Selectionnez un site</option>
          <option *ngFor="let site of sites | async" [value]="site.payload.doc.data().url">{{ site.payload.doc.data().label }}</option>
        </select>
        <button type="submit" [disabled]="!form.url">SCRAPPER</button>
      </form>
      <br>
      <form (submit)="onSubmitSite()">
        Ajouter un site :
        <input [(ngModel)]="formSite.label" name="label" placeholder="label">
        <input [(ngModel)]="formSite.url" name="url" placeholder="url">
        <button type="submit">ENREGISTRER</button>
      </form>
    </div>
  </div>

  <div class="container">
    <button (click)="filterByStatus(status)" *ngFor="let status of statuses">{{ status.label }}</button>
    <div class="card-columns">
      <item-scrapped *ngFor="let item of items | async" [item]="item.payload.doc.data()"></item-scrapped>
    </div>
  </div>
</main>
