.btn-group {
  margin-bottom: 15px;
}
.btn-toggle {
  margin: 15px 0;
  padding: 0;
}
.navbar-dark .navbar-brand {
  color: #fff;
}

.card-deck .card {
  width: calc(33.33% - 30px);
  flex-wrap: wrap;
  flex: initial;
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  .card-deck .card {
    width: calc(50% - 30px);
  }
}
@media (max-width: 575px) {
  .card-deck .card {
    width: 100%;
  }
}
